<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 使用驼峰命名，这样数据库中列名为是多个单词连起来的，会根据驼峰方式进行命名 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<package name="com.yo.news.sale.bill.domain" />
	</typeAliases>
</configuration>